@font-face {
    font-family: "Amiri";
    src: url("../font/amiri/Amiri-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "AmiriSlanted";
    src: url("../font/amiri/Amiri-Slanted.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "CinzelDecorative";
    src: url("../font/cinzel-decorative/CinzelDecorative-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "CinzelDecorativeBlack";
    src: url("../font/cinzel-decorative/CinzelDecorative-Black.otf");
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Amiri", Times New Roman, serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    color: #b4ba98;
    background-color: #000000;
    text-transform: none;
}
/**/

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*HEADER*/


.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 120px;
/*    padding-bottom: 125px;*/
    padding-bottom: 50px;
    text-align: center;
    height: 100vh;

    background-image: url("../img/background-1.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: 1;
    box-sizing: border-box;
}

/*
.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
*/

.logo {
/*
    margin-bottom: 142px;
    width: 153px;
    height: 162px;
    
    box-sizing: border-box;
*/
}

.header-block {
    margin: 0 auto;
/*    margin-bottom: 250px;*/
    width: 712px;
}

.main-title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: "CinzelDecorativeBlack", Times New Roman, serif;
    font-size: 60px;
    color: #ffffff;
    line-height: 60px;
    box-sizing: border-box;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 33.9%;
    height: 4px;
    background-color: #cdb378;   
}

.main-title::before {
    left: 0;
}

.main-title::after {
    right: 0;
}

.quote-text {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "CinzelDecorative", Times New Roman, serif;
    color: #ffffff;
    font-size: 35px;
    box-sizing: border-box;
}

.quote-author {
    font-family: "AmiriSlanted", Times New Roman, serif;
    font-size: 24px;
    line-height: 30px;
    color: #cdb378;
}


.schroll {
    position: relative;
}

.schroll-link {
    display: block;
    font-family: "AmiriSlanted", Times New Roman, serif;
    font-size: 16px;
    color: #cdb378;
}

.schroll-link:hover {
    color: #ffffff;
}

.schroll-link:hover::before {
    border-color: #ffffff;
}

.schroll-link:active {
    color: #cdb378;
}

.schroll-text {
    margin: 0;
    padding: 0;
}

.schroll-link::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px solid #cdb378;
    border-top: none;
    border-left: none;
    bottom: -10px;
    left: 50%;
    box-sizing: border-box;
    transform: translateX(-50%) rotate(45deg);
}


/*ABOUT ZEUS*/

.about-zeus {
    position: relative;
    background-color: #1a1c0f;
    z-index: 1;
}

.joy-of-brewing {
    padding-top: 100px;
}

.title {
    margin: 0;
    padding: 0;
    font-family: "CinzelDecorative", Times New Roman, serif;
    font-size: 72px;
    font-weight: 400;
}

.about-zeus-title {
    color: #ffffff;
    margin-bottom: 13px;
}

.text {
    margin: 0;
    padding: 0;
    font-family: "Amiri", Times New Roman, serif;
    font-size: 24px;
    line-height: 48px;
}

.about-zeus-text {
    margin-bottom: 130px;
    color: #cdb378;
}

.quality-block {
    position: relative;
    padding-top: 100px;
    padding-bottom: 93px;
    margin-right: 72px;
    background-color: #232615;
    background-image: url("../img/logo-bg.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    box-shadow: 0px 0px 155px 0px rgba(31, 33, 43, 0.65);
}

.about-quality-title {
    margin-bottom: 34px;
    color: #cdb378;
}

.about-quality-text {
    max-width: 932px;
    margin-bottom: 48px;
    color: #b4ba98;
}

.background-block-1 {
    position: absolute;
    top: -35px;
    right: 0;
    width: 588px;
    height: 634px;
    background-image: url("../img/block-1.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    z-index: 1;
}

.button {
    padding-top: 10px;
    padding-right: 62px;
    padding-bottom: 10px;
    padding-left: 62px;
    font-family: "Amiri", Times New Roman, serif;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #404429;
    background-color: #272a18;
    text-transform: uppercase;
    box-sizing: border-box;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/*SLOGAN BLOCK*/

.slogan-block {
    position: relative;
    /*    min-height: 884px;*/
    min-height: 100vh;
    background-image: url(../img/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}


.title-special {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "CinzelDecorativeBlack", Times New Roman, serif;
    font-size: 60px;
    line-height: 72px;
    color: #1a1c0f;
}

.slogan-title {
    position: absolute;
    top: 50%;
    right: 50px;
    margin-left: auto;
    width: 570px;
    transform: translateY(-50%);
}

/*ABOUT CRAFT*/

.about-craft {
    position: relative;
    display: flex;
    z-index: 2;
    background-color: #1a1c0f;
}

.craft-wrapper {
    margin-right: 125px;
}

.craft-title {
    color: #cdb378;
    width: 533px;
    margin-top: 150px;
    margin-bottom: 70px;
}

.site-text {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 48px;
    color: #b4ba98;
}

.craft-text {
    width: 685px;
    margin-bottom: 70px;
}

.background-block-2 {
    position: relative;
    top: -150px;
    height: 1016px;
    width: 980px;
    background-image: url("../img/block-2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

/*JOURNEY*/

.journey {    
    text-align: center;
    background-image: url("../img/background.jpg");
/*    min-height: 880px;*/
    height: 1746px;
    background-repeat: no-repeat;
    background-size: cover;
}

.journey-title {
    color: #cdb378;
    margin-bottom: 40px;
}

.journey .site-text {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
}

.button-special {
    background-color: #1a190e;
}